body {
    word-wrap: break-word;
  }
 
.navbar {
  	
    position: sticky;
    top: 10%;
    
    
  }
  
  #create-success{
    
    z-index: 100;
} 


/* update modal css */
.modal {
  overflow: hidden;
}
.modal-card-body{
  background-color: aliceblue;
}

.modal-card-head{
  background-color: blue;
  overflow: hidden;
  
}

#update-modal-body,input {
  word-wrap: break-word;
  height: 100%;
  border: none;
  outline: none;
  background-color: rgb(188, 217, 243);
  
}
#update-modal-title {
  background-color: blue;
  text-align: center;
  color: white;
}
#hidebg{
  background-color: transparent;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #1636a0 0%, #54a016 100%);
  background-size: 100% 20%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  zoom: 150%;
  display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 1%;

}

.swiper-container {
  width: 100%;
  height: 90vh;
  outline: none;
}


.swiper-container {
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}