div {
    word-wrap: break-word;
  }
 
.modal-card-head{
  background-color: lightblue;
  
}
.navbar {
  	
    position: sticky;
    top: 10%;
    
    
  }
  
  #create-success{
    
    z-index: 100;
   background-color: lightbue;
} 